html,body{
    height:100%;
    display:flex;
}
* {
    box-sizing: border-box;
}
.name-tag {
    border: 1px solid red;
    width: 350px;
    height: 200px;
    background: red;
    display:grid;
    border-radius: 40px;
    text-align: center;
}
.name-tag h1 {
    color: white;
    text-align: center;
    height: 30px;
    margin: 20px 
}
.name-tag h2 {
    color: white;
    text-align: center;
    height: 20px;
    margin:25px; 
}
.name-tag p{
    background: white;
    font-size: 20px;
    text-align: center;
    font-style:curvise;
}
.bottom{
    background-color:red
}
